

<div class="login-box" id="section-1">
  <form>
      <div class="login-box-body">          
          <div class="form-group">
            <p>Define the name of your device.</p>
          </div>

          <div class="form-group">
            <label for="deviceName">Device Name</label>
            <input type="text" class="form-control" id="deviceName" placeholder="Neato">
            <small id="deviceNameHelp" class="form-text text-muted">This will be your Neato Bot Name.</small>
          </div>
          
          <div class="footer">   
            <a href="#" class="btn btn-primary btn-block" id="signin-button">
              Save name and Configure
            </a>
          </div>
      </div>
  </form>
</div>
<script>
var botName = document.getElementById("deviceName");
alert(botName);

</script>