<script src="/hooks/neato/js/neato.config.js"></script>
<script src="/hooks/neato/js/neato.service.js"></script>
<script src="/hooks/neato/js/neato.controller.js"></script>

<div data-ng-controller="neatoCtrl as vm">

    <div class="row" ng-show="!vm.ready">
        <div class="col-centered col-md-6 col-md-offset-6">
          <div class="spinner-box">
            <div class="spinner">
              <div class="double-bounce1"></div>
              <div class="double-bounce2"></div>
            </div>
          </div>
        </div>
    </div>

<div class="login-box" id="section-1" ng-show="vm.ready" ng-cloak>
  <form>
      <div class="login-box-body">          
          <div class="form-group">
            <p>{{ 'SPECIFY_NAME' | translate }}</p>
          </div>

          <div class="form-group">
            <label for="deviceName">Device Name</label>
            <input type="text" class="form-control" ng-model="botName" id="deviceName" placeholder="{{ 'NEATO_NAME' | translate }}">
            <small id="deviceNameHelp" class="form-text text-muted">This will be your Neato Bot Name.</small>
          </div>
          
          <div class="footer">   
            <a href="#" ng-click="vm.saveConfig()" class="btn btn-primary btn-block" id="signin-button">
                {{ 'SAVE_SETTINGS' |
                translate }}
            </a>
          </div>
      </div>
  </form>
</div>

</div>